<template name ="leftmenu">
    <div class="leftmenu">
        <div>
            <ul>
                <li>
                    <a href="/"><img src="/images/img19.png"><span>首页</span></a>
                </li>
                <li>
                    <a href="/parentscommunity"><img src="/images/img13.png"><span>家长圈</span></a>
                </li>
                <li>
                    <a href="/parentsletters"><img src="/images/img14.png"><span>家长信</span></a>
                </li>
                <li>
                    <a href="/studentslist"><img src="/images/img15.png"><span>花名册</span></a>
                </li>
                <li>
                    <a href="/teachplan"><img src="/images/img16.png"><span>教学计划</span></a>
                </li>
                <li>
                    <a href="/questionnaire"><img src="/images/img17.png"><span>问卷调查</span></a>
                </li>
                <li>
                    <a href="/redflowerslist"><img src="/images/img18.png"><span>红花榜</span></a>
                </li>
                <li>
                    <a href="/activities"><img src="/images/img22.png"><span>活动管理</span></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="leftmenuwamp"></div>

</template>
